@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Varela Round', sans-serif;
}

a {
  text-decoration: none;
}

header,
footer {
  padding: 5px 20px;
  flex-wrap: wrap;
  background-color: rgb(112, 172, 112);
}

header,
footer,
.navbar {
  width: 100%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
}

header,
.brand,
.navs,
.navbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navs {
  gap: 20px;
  width: 60%;
  padding-right: 60px;
}

.navlink {
  color: #111;
}

.brand-name {
  font-size: 28px;
  padding: 0 10px;
}

#throne-stars {
  text-decoration: underline;
}

#nos-species {
  font-size: 18px;
}

/* || ================== main section ===============|| */

main {
  justify-content: space-around;
  width: 80%;
  margin: 10px auto;
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

.img-stars {
  width: 235px;
  height: 260px;
}

.card-title {
  font-size: 16px;
  width: fit-content;
}

.stars {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
}

.ct-ph {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  padding-top: 10px;
}

.hearts {
  width: 28px;
  height: 28px;
  font-size: 26px;
  line-height: 0.5em;
  color: rgb(219, 85, 85);
  background-color: transparent;
  border: none;
  display: flex;
}

.likes {
  text-align: right;
  margin-right: 10px;
}

.btn-comment {
  height: 28px;
  margin: 10px auto;
  margin-top: 15px;
  width: 80%;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 90%);
  background-color: rgb(187, 187, 250);
}
